:root {
    --background: #262626;
    --color: #afafaf;
    --title-color: #990000;
    --buttons-background: #b52424;
    --buttons-color: #afafaf;
    --buttons-on-hover-background: #990000;
    --buttons-on-hover-color: #f7f7f7;
    --avatar: #757352;
    --cell-background: #afafaf;
    --cell-on-hover: #ad4040;
    ;
}

body {
    background: var(--background);
    color: var(--color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: right;
}

main {
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    color: var(--title-color);
}

i {
    margin: 0 5px;
    pointer-events: none;
}

#splash {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease;
}

#splash.fade-out {
    opacity: 0;
}

.logo {
    width: 90%;
    height: 30%;
    margin: 0 auto;
    background-image: url(../images/Tic_tac_toe-js.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-btn {
    background: var(--buttons-background);
    color: var(--buttons-color);
    border: none;
    margin: 24px auto;
    padding: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
}

.text-btn:hover {
    background-color: var(--buttons-on-hover-background);
    color: var(--buttons-on-hover-color);
}

.icon-btn {
    width: 45px;
    height: 45px;
    background: var(--buttons-background);
    color: var(--buttons-color);
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
    margin: 4px 8px;
}

.icon-btn:hover {
    background-color: var(--buttons-on-hover-background);
    color: var(--buttons-on-hover-color);
}

.fa-stack {
    left: -16px;
}

#main-panel {
    height: 90%;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity 0.8s ease, transform 1s ease-in;
}

#main-panel.fade-in {
    opacity: 1;
}

#main-panel.hide-left {
    transform: translateX(100%);
}

#game-panel {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: opacity 0.8s ease, transform 1s ease-in;
}

#game-panel.show-right {
    transform: translateX(0);
}

.avatar {
    width: 60px;
    height: 60px;
    margin-top: 2px;
    border: 3px ridge var(--buttons-background);
    background: var(--avatar);
    border-radius: 100%;
}

#status {
    padding: 4px 16px;
    font-size: 24px;
    margin: 12px 0 6px;
    text-align: center;
}

#timer {
    padding: 4px 0 16px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.status {
    height: 30px;
    color: #262626;
    transition: all 0.5s ease
}

#game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-area {
    width: 80%;
    margin: 4px auto;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid var(--background);
    transition: border 0.4s ease;
}

.is-player-turn {
    border: 5px ridge var(--buttons-background);
}

.board {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.name {
    font-size: 24px;
    margin: 8px 0;
    padding: 0;
    text-align: center;
}

.row {
    display: flex;
}

.row>div {
    width: calc(100vw / 4);
    height: calc(100vw / 4);
    background: var(--color);
    display: inline-block;
    padding: 10px;
    font-size: calc(100vw / 6);
    margin: 3px;
    cursor: pointer;
    color: var(--color);
}

.row>div:hover {
    background-color: var(--cell-on-hover);
    color: var(--cell-on-hover);
}

@media (min-width: 600px) {
    #game-area {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .buttons-container {
        width: 50%;
        margin: 0 auto;
    }
    .text-btn {
        font-size: 24px;
    }
    .row>div {
        font-size: 60px;
        width: 80px;
        height: 80px;
    }
    .player-area {
        width: 30%;
        margin: 8px 8px 0;
        flex-direction: column;
    }
}

.hidden {
    display: none !important;
}